.temporary {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__top {

  }

  &__central-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-xs;
    padding: $padding-sm;

    @mixin bp-sm {
      gap: $gap-sm;
    }
    @mixin bp-md {
      gap: $gap-md;
      padding: $padding-md;
    }
    @mixin bp-sm {
      gap: $gap-sm;
      padding: $padding-lg;
    }
  }

  &__name {
    color: $color-primary;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.2;

    &--large {
      font-size: 8rem;

      @mixin bp-sm {
        font-size: 10rem;
      }
    }

    &--small {
      font-size: 4.2rem;

      @mixin bp-sm {
        font-size: 5rem;
      }
    }
  }

  &__portrait {
    width: 80%;
    max-width: 45rem;
    margin: auto;
  }

  &__slogan {
    color: $color-secondary;
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.4;

    &--middle,
    &--bottom {
      text-transform: uppercase;
    }
  }

  &__text {
    color: $color-primary;
    text-align: center;
    font-weight: 400;
  }


  &__bottom {
    /* flex: 1; */
    background: $color-primary;
    display: flex;
  }

  &__tag {
    padding: $padding-md;
    color: $color-primary;
    font-size: 1.6rem;
    text-align: center;
  }

}
